.registrar-contenedor-furmulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px  0 20 px 0;
    
}


.registro-formulario {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 50%;
    background-color: var(--color-amarillo-oro); */
}

.registrar-foto-perfil {
    /* display: flex;
    flex-direction: column; */
}

#registrar-foto-actual {
    /* max-width: 200px;
    margin-top: 10px; */
}


/* Le daremos estilos a un input */
.input-formulario{
    position: relative;
    margin: 15px 0 0 0;       
}

.input-formulario input {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline-color: 2px solid white;
    background-color: transparent;
    transition: outline-color 500ms;
}

.input-formulario input:is(:focus, :valid){
    /* outline-color: blueviolet; */
    outline-color: var(--color-naranja-oscuro);
}

.input-formulario label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 8px;
    color: white;
    transition: translate 500ms, scale 500ms;
}

.input-formulario input:focus + label,
.input-formulario input:valid + label {
    padding-inline: 10px;
    translate: 0px -14px;
    scale: 0.8;
    background-color: var(--color-azul-marino);
    font-size: 20px;
}